<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.smartplatform.mapper.SysCategoryMapper">


    <update id="deleteByIds">
        update sys_category
        set status = #{status},
            update_time=#{date},
            update_by=#{username}
        where c_id
        <foreach collection="ids" open=" in (" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>
</mapper>