<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.smartplatform.mapper.SysOperLogMapper">


    <insert id="addSysOperLog">
        insert into sys_oper_log
        values(null,#{title},#{businessType},#{method},#{requestMethod}
        ,#{operatorType},#{operName},#{operUrl},#{operIp},#{operLocation}
        ,#{operParam},#{jsonResult},#{status},#{errorMsg},#{operTime})
    </insert>

</mapper>